* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(87deg, rgba(166, 0, 255, 1) 0%, rgba(242, 51, 188, 1) 100%);
  color: white;
}
    
.logo h2 {
  margin-left: 20px;
  font-size: 28px;
  letter-spacing: 2px;
  user-select: none;
}

.nav-buttons{
    display: flex;
    gap: 10px;
}

.nav-btn{
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: rgb(23, 209, 23);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 1px;
  transition: background 0.2s ease-in;
}

.nav-btn:hover{
  background-color: rgb(24, 143, 24);
  transform: scale(1.1);
  color: black;
}